/* Defaults reset */

body, html {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* General */

body {
    margin: 0;
    text-align: center;
}



/* Mobile Small */

body {
    text-align: initial;
}

.nav-primary-list-item {
    list-style-type: none;
    text-align: center;
}

.section-primary {
    text-align: center;
}

.todo-list-cross {
    cursor: pointer;
}

.todo-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list-header-edit {
    margin-left: 20px;
    cursor: pointer;
}

.todo-list-header-edit-active {
    color: lightgreen;
}

.todo-list-header-title {

}

.todo-list-header-title-active {
    outline: none;
    text-decoration: underline;
    text-decoration-color: lightgreen;
}

.todo-list-item {
    display: block;
    margin: 3px auto;
    width: 40%;
    list-style-type: none;
    text-align: left;
}

.todo-list-item-complete {
    text-decoration: line-through;
}

#footer-primary {

}

#header-primary {

}

#main-primary {

}

#nav-primary-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#todo-add-button {

}

#todo-add-input {
    margin: 2px auto 10px;
}

#todo-form {

}

#todo-list {

}

#todo-list-empty {

}

/* Mobile Regular */

/* Tablet */

/* Laptop */

/* Desktop */
