* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;

    background-color: white;

    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

input, button, select {
    appearance: none;
}

/* Dialog */
#dialog {
    display: block;

    width: 100vw;
    height: 100vh;

    background-color: #AAAAAA;
}

#dialog-area {
    display: block;

    width: 800px;
    height: 300px;
    border: 2px solid black;

    background-color: white;
}

.dialog-project-name {

}

.dialog-project-descripton {

}

/* Header */
header {
    padding: 20px 0;

    background-color: #4682A1;

    color: white;
}

h1 {
    margin: 0;
    padding: 0;

    font-size: 3rem;
    text-align: center;
}

/* Todo List */
#todo-list {
    padding: 40px 40px;
}

.todo-list-project-create {
    display: block;

    margin: 0 auto;
    width: 80px;
    height: 80px;
    /* border: 2px solid black;
    border-radius: 50%; */
    /* padding: 10px 40px; */
    
    /* font-size: 3.5rem; */
    /* text-align: center; */
}

#todo-list-projects {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 40px 0;
}

.todo-list-project {
    position: relative;

    width: 300px;
    height: 200px;
    /* border: 1px solid lightgrey; */
    border-radius: 4px;
    padding: 20px;

    box-shadow: 
            0 0 2px #AAAAAA,
            0 0 4px #CCCCCC,
            0 0 6px #EEEEEE;
    transition: all 0.25s linear;
}

.todo-list-project:hover {
    box-shadow: 
            0 0 2px #70809A,
            0 0 4px #90A2BC,
            0 0 6px #B0C4DE;
    /* border: 2px solid #b0c4de; */
    
    transform: scale(1.04);

    transition: all 0.25s linear;
}

.todo-list-project-name {
    margin: 0;
    padding: 0;
    height: 1lh;

    overflow-x: hidden;
    overflow-y: hidden;

    text-align: center;
}

.todo-list-project-description {
    height: 55%;
    
    overflow-x: hidden;
    overflow-y: hidden;

    color: #888888;
}

.todo-list-project-update {
    position: absolute;
    bottom: 10px;
    left: 10px;

    width: 30px;
    height: 30px;
}

.todo-list-project-delete {
    position: absolute;
        bottom: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
}

/* Project */
#project {

}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 40px;
}

.project-button {
    width: 50px;
    height: 50px;
}

.project-button-back {
    
}

.project-heading {
    margin: 0;
    padding: 0;

    font-size: 2.5rem;
    text-align: center;
}

.project-button-update {
    
}

.project-button-create {
    display: block;

    margin: 0 auto 40px;
}

.project-todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-todo {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 0 15px 0 15px;

    list-style-type: none;

    font-size: 1.5rem;
}

.project-todo:nth-child(2n - 1) {
    border-right: 1px solid black;
}

.project-todo-checkbox {
    position: relative;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;

    transition: all 1s linear;
}

.project-todo-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 3.5px;
    left: 3.5px;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: lightsteelblue;

    transition: all 1s linear;
}

.project-todo-name {
    display: inline-block;
}

.project-todo-checkbox:checked + .project-todo-name {
    color: lightgrey;
    text-decoration: line-through;
}

.project-todo-checkbox:checked + * + .project-todo-delete {
    color: lightgrey;
}

.project-todo-due-date {
    position: absolute;
    right: 175px;
    display: inline-block;

    color: #888888;
}

.project-todo-priority {
    font-weight: bold;
}

.project-todo-priority-1 {
    border-left: 12px solid red;
}

.project-todo-priority-2 {
    border-left: 12px solid orange;
}

.project-todo-priority-3 {
    border-left: 12px solid purple;
}

.project-todo-priority-4 {
    border-left: 12px solid blue;
}

.project-todo-priority-5 {
    border-left: 12px solid pink;
}

.project-todo-update {
    position: absolute;
    right: 75px;

    width: 30px;
    height: 30px;

    display: inline-block;
}

.project-todo-delete {
    position: absolute;
    right: 15px;

    width: 30px;
    height: 30px;

    display: inline-block;
}

.project-button-delete {
    display: block;

    margin: 60px auto;
}

/* Todo */
#todo-area {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(240, 240, 240, 0.5);
}

.todo-area-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.todo {
    width: 60%;
    height: 40%;

    background-color: lightblue;
}

.todo-row-top {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
}

.todo-title {

}

.todo-is-complete {
    position: relative;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.todo-is-complete:checked::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 2px;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: green;
}

.todo-due-date {

}

.todo-priority {
    width: 80px;
}

.todo-priority-option {

}

.todo-description {
    width: 80%;
    height: 40%;
}

.todo-modify {

}

/* New Project */

/* New Todo */
#new-todo-area {
    position: relative;
    
    background-color: lightblue;
}

.new-todo-area-close {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 3rem;
}

/* Update Todo */
#todo-area {
    position: relative;
}

.todo-area-close {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 3rem;
}

/* Footer */
